@media (max-width: 2560px){
    #panel2{
        padding: 200px;
    }
}

@media (max-width: 1920px){
    .images img{
        width: 95%;
        height: auto;
    }

    #panel2{
        padding: 70px;
    }
}

@media (max-width: 1024px){

    html{
        font-size: 0.8em;
    }

    .yatsuri{
        width: 100vw;
    }
    .images{
        width: 100%;
        justify-items: center;
        justify-content: center;
        text-align: center;
    } 

     .images img{
        margin: auto;
        height: 70%;
        width: 70%;
        
    } 

    .yatsuri_content{
        width: 100%;
         padding: 30px; 
    }

    .yatsuri_link{
        width: 100%;
        float: left;
    }
   

    .rest{
        width: 100vw;
    }

    .php{
        width: 100vw;
    }

    .php .images{
        justify-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        float: left;
    }

    .php_content{
        width: 100%;
        float: left;
    }

    .bloodborne{
        width: 100%;
        float: left;
        margin-right: 0%;
    }

    .wordpress{
        width: 100%;
        float: left;
        margin-top: 0.5%;
    }

    .yatsuri_content, .php_content{
        margin-top: 2%;
    }

    .wordpress{
        margin-top: 2%;
    }

    #panel2{
        padding: 70px;
    }

    #panel1 h2{
        font-size: 40px;
    }
}

@media (max-width: 425px){
    html{
        font-size: 0.8em;
    }

    .panel{
        height: 50%;
    }

    .panel, .panelrow2, .yatsuri, .php, .rest, .yatsuri_link, .yatsuri_content, .php_content, .bloodborne, .wordpress, .wp-link{
        border-radius: 75px;
    }

    .panelrow2{
        margin-top: 2%;
    }

    #name{
        font-size: 50px
    }

    .panel{
        width: 100%;
    }

    #panel1 h2{
        font-size: 40px;
    }

    .panelrow2{
        padding: 20px;
    }

    .yatsuri{
        width: 100vw;
        padding: 20px;
        margin-top: 2%;
    }
    .images{
        width: 100%;
        justify-items: center;
        justify-content: center;
        text-align: center;
    } 

     .images img{
        margin: auto;
        height: 80%;
        width: 80%;
    } 

    .yatsuri_content{
        width: 100%;
         padding: 30px; 
    }

    .yatsuri_link{
        width: 100%;
        float: left;
    }
   

    .rest{
        width: 100vw;
        padding: 20px;
        margin-top: 2%;
    }

    .php{
        width: 100vw;
        padding: 20px;
        margin-top: 2%;
    }

    .php .images{
        justify-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        float: left;
    }

    .php_content{
        width: 100%;
        float: left;
        padding: 30px;
    }

    .bloodborne{
        width: 100%;
        float: left;
        margin-right: 0%;
        padding: 30px;
    }

    .wordpress{
        width: 100%;
        float: left;
        margin-top: 2%;
        padding: 30px;
    }

    .yatsuri_content, .php_content{
        margin-top: 2%;
    }

    .bloodborne img{
        width: 85%;
        height: auto;
    }

    #panel2{
        padding: 50px;
    }

}